* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    padding: 20px;
}

form {
    background-color: bisque;
}

.titulo {
 color: darkslateblue;
}

#nome {
    border-radius: 10px;
    border: none;
}

#senha {
    border-radius: 10px;
    border: none;
}

button {
    font-size: 1.5rem;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
}
