*{
    padding: 0;
    margin: 0;
}

.principal {
     background-color: rgb(255, 235, 205);
     border: 1px solid black;
     padding: 10px 20px;
     margin: 30px auto;
     width: 500px;
     

}

.titulo {
    color: rgba(0, 0, 255, 0.5);
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;


}

.func {
    padding: 10px;
}

.email {
    padding: 10px;
}

.bio {
    padding: 10px;
    
}

.contato {
    padding: 10px;
}

span{
    font-weight: 800;
}

.end {
    float: left;
    
}

.tel {
    text-align: right;
}